{#
/**
 * @file
 * Footer menu template.
 *
 * Renders footer navigation links as a simple vertical list.
 */
#}
{% if items %}
  <div class="footer__link-container flex flex-col items-start justify-start gap-4 xl:gap-6">
    {% for item in items %}
      <a href="{{ item.url }}"
         class="text-link font-erato text-[1.0625rem] leading-[1.2] inline-block text-white [&:after]:bg-white"
         {{ item.in_active_trail ? 'aria-current="page"' }}>
        <span class="text-link__text">{{ item.title }}</span>
      </a>
    {% endfor %}
  </div>
{% endif %}
