@layer components {
  body.nav-open {
    /*overflow: hidden;*/
  }

  .nav-link-item {
    @apply h-6 sm:h-7 lg:h-8 flex items-center;
  }

  .navigation-additional .text-link {
    @apply text-[20px] leading-[1.4];
  }

  /* Basis-Fade-Startzustand für Items – wie im SCSS */
  .menu-panel .menu-list > * {
    opacity: 0;
    transform: translateX(2.5rem);
  }
  .navigation-menu > *,
  .navigation-additional > *,
  .navigation-legal > * {
    opacity: 0;
    transform: translateX(2.5rem);
  }

  .nav-open .menu-panel.is-active .menu-list > *,
  .nav-open .navigation-menu[data-level="1"] > *,
  .nav-open .navigation-additional > *,
  .nav-open .navigation-legal > *,
  .nav-open .navigation-social > * {
    opacity: 1;
    transform: translateX(0);
  }

  .nav-open .menu-panel.is-active .menu-list > * {
    transition: opacity .25s ease, transform .35s ease !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(1) {
    transition-delay: .16s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(2) {
    transition-delay: .20s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(3) {
    transition-delay: .24s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(4) {
    transition-delay: .28s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(5) {
    transition-delay: .32s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(6) {
    transition-delay: .36s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(7) {
    transition-delay: .40s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(8) {
    transition-delay: .44s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(9) {
    transition-delay: .48s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(10) {
    transition-delay: .52s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(11) {
    transition-delay: .56s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(12) {
    transition-delay: .60s !important;
  }
  .nav-open .menu-panel.is-active .menu-list > *:nth-child(13) {
    transition-delay: .64s !important;
  }

  .submenu-icon svg path {
    @apply fill-white;
  }

  .submenu-back {
    @apply underline-offset-3 underline cursor-pointer;
  }

}
