{#
/**
 * @file
 * Unformatted rows for locations listing – renders items in a CSS grid.
 */
#}
<div class="grid grid-cols-1 gap-x-7 gap-y-12 js-element-group
            sm:grid-cols-2 sm:gap-y-14
            md:grid-cols-3
            lg:gap-y-20">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>