{#
/**
 * @file
 * Stage title – full-width hero title section (no image).
 *
 * Fields: field_meta_label, field_headline.
 */
#}
<section{{ attributes.addClass('stage-media', 'stage-section') }}>
  <div class="section-container grid grid-cols-1 gap-x-7
              sm:grid-cols-12">
    <div class="sm:col-span-10 sm:col-start-2
                lg:col-span-8 lg:col-start-3
                flex flex-col items-start gap-3 js-element-group">
      {% if paragraph.field_meta_label.value %}
        <h1 class="info text-hpm-red meta-line--red meta-line--medium">
          {{ paragraph.field_meta_label.value }}
        </h1>
        {% if paragraph.field_headline.value %}
          <h2 class="h1">
            {{ paragraph.field_headline.value }}
          </h2>
        {% endif %}
      {% elseif paragraph.field_headline.value %}
        <h1 class="h1">
          {{ paragraph.field_headline.value }}
        </h1>
      {% endif %}
    </div>
  </div>
</section>
<div id="content"> </div>
