{#
/**
 * @file
 * Deeplink – two-column text section with headline + text/link.
 *
 * Fields: field_headline, field_text, field_link, field_theme.
 */
#}
<section{{ attributes.addClass('content-section') }}
  {% if theme_css %}data-theme="{{ theme_css }}"{% endif %}>
  <div class="section-container grid grid-cols-12 gap-7 js-element-group">
    <div class="col-span-12
                sm:col-span-10 sm:col-start-2
                md:col-span-4 md:col-start-2
                lg:col-span-3 lg:col-start-2">
      {% if paragraph.field_headline.value %}
        <h2 class="h3-serif text-hpm-red">{{ paragraph.field_headline.value }}</h2>
      {% endif %}
    </div>
    <div class="col-span-12 flex flex-col items-start gap-6
                sm:col-span-10 sm:col-start-2
                md:col-span-5 md:col-start-7
                lg:col-span-4 lg:col-start-6">
      {% if paragraph.field_text.value %}
        <div class="formatted">
          {{ paragraph.field_text.value|raw }}
        </div>
      {% endif %}
      {% if button_url %}
        <div class="button-container">
          {% include '@hpm/templates/components/button-link.html.twig' with {
            url: button_url,
            text: button_text,
            variant: 'secondary'
          } only %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
