{#
/**
 * @file
 * Locations overview – embeds the locations_listing View.
 *
 * The View renders location teasers in a CSS grid via its own templates.
 */
#}
<section{{ attributes.addClass('content-section') }}>
  <div class="section-container">
    {{ drupal_view('locations_listing', 'block_1') }}
  </div>
</section>