<div{{ attributes.addClass('stage-section') }}>
  <div class="section-container">
    <div class="grid grid-cols-12 gap-x-7">
      <div class="col-span-12 lg:col-span-8 lg:col-start-3 js-element-group">
        {% if content.field_meta_label|render|trim %}
          <p class="info meta-line--small mb-3">{{ content.field_meta_label }}</p>
        {% endif %}
        {% if content.field_headline|render|trim %}
          <h1 class="h1">{{ content.field_headline }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>
