{#
/**
 * @file
 * News listing – embeds the news_listing View (listing view mode).
 */
#}
{{ attach_library('hpm/fade-ins') }}
<div{{ attributes.addClass('flex', 'flex-col', 'gap-16', 'lg:gap-24') }}>
  {{ drupal_view('news_listing', 'block_1') }}
</div>
