{#
/**
 * @file
 * Locations overview – grid of location teaser cards via Views.
 */
#}
<section{{ attributes.addClass('content-section') }}>
  <div class="section-container grid grid-cols-1 gap-x-7 gap-y-12 js-element-group
              sm:grid-cols-2 sm:gap-y-14
              md:grid-cols-3
              lg:gap-y-20">
    {{ drupal_view('locations_listing', 'block_1') }}
  </div>
</section>
